{{#if hasFlow}}
// @flow
{{/if}}
{{> componentImportPartial }}

{{#if hasFlow}}
type Props = {
  
}

type State = {
  
}

export class {{ properCase name }} extends React.Component<Props, State> {
  static defaultProps = {}  

  state = {}
{{else}}
export class {{ properCase name }} extends Component {
  static defaultProps = {}  
{{/if}}
  render () {
    return (
      <div></div>
    )
  }
}

{{#unless hasFlow}}
{{ properCase name }}.propTypes = {

}
{{/unless}}

{{#if isConnected}}
const mapDispatchToProps = dispatch => bindActionCreators({
  actionName,
}, dispatch)

const mapStateToProps = state => ({

})
{{/if}}

{{#if isStyled}}
const styles = {
}
{{/if}}

{{> componentExportPartial }}
