img {
    max-width: 100%;
    max-height: 40vw;
    height: auto;
    vertical-align: bottom;
}

.HeroImage {
    width: 100%;
    max-width: 100%;
    max-height: 40vw;
    margin: auto;
    display: block;
}